# SPDX-License-Identifier: GPL-2.0-only

config TOUCHSCREEN_FOCALTECH_FT820X
	tristate "FocalTech FT820x touchscreen"
	depends on SPI
	select CRC_CCITT
	help
	  Say Y here to enable support for FocalTech FT820x touchscreen
	  controllers connected over SPI, including the FT8203.

	  To compile this driver as a module, choose M here: the module
	  will be called focaltech-ft820x.

config TOUCHSCREEN_FOCALTECH_FT820X_FW_DOWNLOAD
	bool "FT820x RAM firmware download support"
	depends on TOUCHSCREEN_FOCALTECH_FT820X=y
	default n
	help
	  Build support for loading the volatile application firmware required
	  by some FT820x controllers from the firmware loader during probe and
	  after a power cycle. This does not provide a flash update or factory
	  test interface.

	  The firmware name is specified by the firmware-name device property.
